[Unit]
Description=Noisetorch Noise Cancelling
Requires="sys-devices-pci0000:00-0000:00:02.1-0000:05:00.0-0000:06:08.0-0000:0c:00.0-0000:0d:0c.0-0000:13:00.0-usb1-1\x2d2-1\x2d2:1.0-sound-card3-controlC3.device"
After="sys-devices-pci0000:00-0000:00:02.1-0000:05:00.0-0000:06:08.0-0000:0c:00.0-0000:0d:0c.0-0000:13:00.0-usb1-1\x2d2-1\x2d2:1.0-sound-card3-controlC3.device"
After=pipewire.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/noisetorch -i -s "alsa_input.usb-R__DE_Microphones_R__DE_NT-USB_Mini_F5DF5DCC-00.mono-fallback" -t 95
ExecStop=/usr/bin/noisetorch -u
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
