[include]
  path = ~/.gitconfig.local
[core]
  editor=nvim
[init]
  defaultBranch= master
[core]
  pager=delta
[interactive]
  diffFilter=delta --color-only
[delta]
  navigate=true
  side-by-side=true
[pull]
  rebase=true
[push]
  autoSetupRemote=true
[http]
	postBuffer = 157286400
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  squash = "!f(){ git reset $(git commit-tree \"HEAD^{tree}\" \"$@\");};f"
[rerere]
  enabled = true
[column]
  ui = auto
[branch]
  sort=-committerdate
[maintenance]
	repo = /Users/jrreed/dev/eldritch-workspace/bat
[includeIf "gitdir:~/.local/share/yadm/repo.git"]
  path = .gitconfig.submodules
