[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/jacobrreed/nvim.git
  branch="master"
[submodule "pics"]
	path = pics
	url = https://github.com/jacobrreed/pics.git
  branch="master"
