[Desktop Entry]
Type=Application
Version=2025.1.3
Name=Bitwarden
Comment=Bitwarden startup script
Exec=bitwarden-desktop
StartupNotify=false
Terminal=false