Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

choco install -y 7zip audacity gimp yubico-authenticator autohotkey etcher blitz.gg steam discord betterdiscord streamdeck epicgameslauncher vivaldi equalizerapo git gh inkscape vscode thunderbird nvidia-broadcast geforce-experience nvidia-display-driver nzxt-cam obsidian powertoys powershell leagueoflegends rust pyenv-win sidequest spotify spicetify-cli unity vlc wezterm yarn
