tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
exercism/
data
google-chrome/
discord/
GIMP/
QTProject.conf
configstore/
dconf/
pulse/
rn*bc.org/
menus/
kde.org/
Better*Discord*Installer/
github-copilot/
chromium/
Moonlight*
nvm/
spotify/
yarn/*
baloo*
.gsd*
gtk-3.0/

evolution/
WebCord/
obsidian/

!spaceship/
copyq/
hackmud/
unity3d/
cef_user_data/
go/
asperite/
WowUpCf/
obs-studio/
vlc/
