tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
exercism/
data
google-chrome/
discord/
systemd/
QTProject.conf
configstore/
dconf/
pulse/
rn*bc.org/
menus/
kde.org/
Better*Discord*Installer/
github-copilot/
chromium/
Moonlight*
nvm/
yarn/*
baloo*
.gsd*
gtk-3.0/

evolution/
