tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
exercism/
data
google-chrome/
discord/
GIMP/
QTProject.conf
configstore/
dconf/
pulse/
rn*bc.org/
menus/
kde.org/
Better*Discord*Installer/
github-copilot/
steamtinkerlaunch/
chromium/
Moonlight*
nvm/
spotify/
yarn/*
baloo*
.gsd*
gtk-3.0/
evolution/
WebCord/
obsidian/
copyq/
hackmud/
unity3d/
cef_user_data/
go/
asperite/
WowUpCf/
obs-studio/
vlc/
YouTube\ Music\ Desktop\ App/
YouTube Music Desktop App/
discordcanary/
Vencord/
BraveSoftware/
